.mainSection{
   
    margin-top: 2%;
}


.toolContainerTopSectionButtons button{
padding: 0.8rem 2rem;
   border-radius: 0.75rem;
/* border-bottom: 2px solid gray; */
background:  linear-gradient(145deg, #2f00eb, #02c5be); 

} 